@charset "UTF-8";
@import "reset.css";

#bg1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#bg1_1{
    width: 100%;
    height: 103vh;
}

#centralLogoImage{
    position: relative;
    width: 140px;
    top: 13px;
}

.centralHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2%;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.centralLogo{
    margin-left: 20px;
}

.centralSearchFrm{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 2em;
    margin-bottom: 0.8em;
}

.centralSearch1_1>.Search1_1__input{
    width: 97%;
    font-size: 1.6em;
    padding-left: 5px;
}

.centralMenu{
    display: flex;
}

.centralHeader .material-icons{
    cursor: pointer;
    font-size: 2.5em;
    color: seashell;
}

.centralMenu>.menus{
    padding-right: 2em;
    padding-bottom: 1em;
}

.centralSection{
    width: 100%;
    height: 85.4vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.slideContainer{
    width: 95%;
    height: 74vh;
    margin-top: 3%;
    margin-left: 0.5%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.chatContainer {
    width: 30%;
    height: 68vh;
    margin: 3% 1% 0 0.5%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: relative;
}
.chatContainer .hidden{
	margin : 0 auto;
	width : 90%;
	height : 66vh;
	background-color: rgba(100, 0, 0, 0.5);
}
.charContainer .inputChat{
	width : 70%;
	height : 30px;
}
.charContainer .btnChat{
	
}

.boardContainer {
    width: 30%;
    height: 68vh;
    margin: 3% 1% 0 0.5%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: relative;
}

.slideContainer .material-icons{
    cursor: pointer;
    font-size: 7em;
    color: seashell;
    opacity: 0.5;
}

.centralSidebar{
    position: fixed;
    width: 12%;
    height: 8vh;
    right: 2%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralSidebar>.menus:first-child{
    padding-right: 12%;
}

.centralSidebar .material-icons{
    cursor: pointer;
    color: seashell;
    font-size: 4em;
}